.CategoryName{
    color: var(--red);
    font-weight: 700;
    margin: 1rem 0;
}

.Meals {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid rgb(216, 214, 214);
    padding-bottom: 2rem;
    
}

.Meals .Meal {
    box-shadow: 0 0 1px;
    border-radius: .5rem;
    position: relative;
    height: 240px;
    width: 22%;
}


.Meals .Meal .image{
    width: 100%;
}
.Meals .Meal .image img{
    width: 100%;
    border-radius: .5rem; 
}


.Meals .Meal .title{
    font-size: 12px;
    padding:  .2rem .5rem;
}

.Meals .Meal .PriceAndIcons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: .5rem;
    padding: 0 .5rem;
}

.Meals .Meal .PriceAndIcons .price{
    font-weight: 500;
    font-size: .7rem;
}

.Meals .Meal .PriceAndIcons .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Meals .Meal .PriceAndIcons .icons i{
    margin-right: .3rem;
    font-size: .9rem;
    cursor: pointer;
}

@media (max-width: 1300px){
    .Meals .Meal{
        height: 200px;
        width: 22%;
    }
}

@media (max-width: 1200px){
    .Meals .Meal{
        height: 190px;
        width: 21%;
    }

    .Meals .Meal .title{
    font-size: 10px;
    }
}

@media (max-width: 980px){

  
    .Meals .Meal{
      
        height: 190px;
        width: 28%;
    }
}

@media (max-width: 800px){

  
    .Meals .Meal{
      
        height: 250px;
        width: 45%;
    }
}

@media (max-width: 750px){
    .Meals .Meal{
        width: 35%;
        height: 210px;
    }
}

@media (max-width: 650px){

    .Meals {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .Meals .Meal{
      
        height: 185px;
        width: 45%;
    }
}

@media (max-width: 550px){

  
    .Meals .Meal{
        height: 190px;
        width: 29%;
    }

    .Meals .Meal .title{
      
      font-size: .6rem;
        
    }

    .Meals .Meal .PriceAndIcons .price{
        font-size: .7rem;
    }

    .Meals .Meal .PriceAndIcons .icons i{
        font-size: .7rem;
        margin-right: .1rem;
    }

    /* .Meals .Meal .PriceAndIcons .price{
        font-size: 1rem;
    } */
}

@media (max-width: 450px){
    .Meals .Meal{
        height: 175px;
    }
}
